*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-info{
    width: 400px;
    border: 1px solid black;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

.modal{
    position: absolute;
    background-color: #0e4158;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: .8;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal label{
    color: #ffffff;
    font-weight: bolder;
}
#username{
    width: 50%;
    padding: 10px;
    margin: 10px;
}
.game-settings{
    width: 400px;
    border: 1px solid black;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 10px;
    background: linear-gradient(#57c6fa, #ffffff);
    

}
.conformation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #0e4158;
}
.conformation h1{
    margin: 10px;
}
.conformation-btn-container{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;

}
.yes,.no{
padding: 10px;
width: 30%;
background: transparent;
}
.yes:hover,.no:hover{
    color: #ffffff;
    font-size: larger;
}

.counter{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px;
}
.counter p{
    margin: 20px;
}
.counter:nth-child(2){
    font-size: 2rem;
}
.question-container{
    width: 400px;
    border: 1px solid black;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
    border-radius: 10px;
}
.question-header{
    padding: 15px 0;
    margin: 10px;
    text-align: left;
    
}
.question-options{
    padding: 0 10px;
    
}
.option{
    padding: 10px 10px 10px 10px;
}
.button-container{
    width: 100%;
}
.button-container button{
    width: 100%;
    padding: 20px;
    background: #57c6fa;
    color: #ffffff;
    border-radius: 0 0 10px 10px;

}
.restart,.reset{
    padding: 4px;
    width: 40%;
    background: transparent;
    border-radius: 5px;
}
.restart:hover,.reset:hover{
    transform: scale(1.2);
}

.hidden{
    display: none;
}